.Box {
  border: 1px solid black;
  min-height: 200px;
  border-radius: 10px;
}

.Project_Row {
  padding-bottom: 50px;
}

.ComingSoon_Box {
  width: 100%;
}

.Project_Box {
  max-width: 100%;
  margin: 20px 10px;
}

.Panel_Box {
  height: 100%;
}

.Test_Button {
  width: 100%;
}