html,
body,
#app,
#app > div {
  height: 100%;
}

.Landing_Main {
  background-image: url("../../assets/Thailand_Backdrop.jpg");
  min-height: 100%;
  width: 100%;
  position: fixed;
}

.test_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  /* color: white; */
  width: 80%;
  background-color: black;
  opacity: 0.75;
  /* app\src\assets\Thailand_Backdrop.jpg */
}

.title {
  color: white;
}
