.profile-pic {
  width: 100%;
}

.Container {
  margin-bottom: 20px;
  padding-top: 60px;
}

.Name_Box {
  margin-top: 20px;
}

.testBox {
  border: 1px solid black;
}

.testSVG {
  width: 100%;
}